-i https://pypi.org/simple
anyio>=3.6.2
attrs>=22.1.0
bcrypt<=4.0.1
certifi>=2022.9.24
cffi>=1.15.1
charset-normalizer>=2.1.1
click>=8.1.3
colorama>=0.4.6
commonmark>=0.9.1
coverage>=6.5.0
cryptography>=38.0.1
et-xmlfile>=1.1.0
exceptiongroup>=1.0.0
future>=0.18.2
h11>=0.12.0
httpcore>=0.13.7
httpx>=0.18.2
idna>=3.4
iniconfig>=1.1.1
jinja2>=3.1.2
junos-eznc>=2.6.5
lxml>=4.9.1
markupsafe>=2.1.1
mypy-extensions>=0.4.3
napalm>=4.0.0

netaddr>=0.8.0
netmiko>=4.1.2
netutils>=1.2.0
nornir>=3.3.0
nornir-ansible>=2022.7.30
nornir-cli>=1.1.1
nornir-csv>=0.3.0
nornir-f5>=0.5.1
nornir-http>=0.1.1
nornir-jinja2>=0.2.0
nornir-librenms>=0.2.0
nornir-napalm>=0.3.0
nornir-netbox>=0.3.0
nornir-netconf>=1.0.1
nornir-netmiko>=0.2.0
nornir-paramiko>=0.2.0
nornir-pyez>=0.2.4
nornir-pyxl>=1.0.1
nornir-rich>=0.1.5
nornir-routeros>=0.4.0
nornir-salt>=0.16.1
nornir-scrapli>=2022.7.30
nornir-table-inventory>=0.4.0
nornir-utils>=0.2.0
ntc-templates>=3.1.0
numpy>=1.23.4
openpyxl>=3.0.10
packaging>=20.9
pandas>=1.5.1
paramiko>=2.11.0
pluggy>=1.0.0
pycparser>=2.21
pydantic>=1.10.2
pyeapi>=0.8.4
pygments>=2.13.0
pynacl>=1.5.0
pyparsing>=3.0.9
pyserial>=3.5
pytest>=7.2.0
pytest-cov>=3.0.0
python-dateutil>=2.8.2
pytz>=2022.6
pyyaml>=6.0
requests>=2.28.1
requests-toolbelt>=0.9.1
rfc3986>=1.5.0
rich>=12.6.0
routeros-api>=0.17.0
ruamel.yaml>=0.17.21
ruamel.yaml.clib>=0.2.7
scp>=0.13.6
scrapli>=2022.7.30
scrapli-cfg>=2022.7.30
scrapli-community>=2022.7.30
scrapli-netconf>=2022.7.30
setuptools>=65.5.0
six>=1.16.0
sniffio>=1.3.0
tenacity>=8.1.0
textfsm>=1.1.2
tomli>=2.0.1
tqdm>=4.64.1
transitions>=0.9.0
ttp>=0.9.1
typing-extensions>=4.4.0
urllib3>=1.26.12
xmltodict>=0.12.0
yamlordereddictloader>=0.4.0